body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
}

top {
    font-size: large;
    background-color: lightblue;
    padding: 3em;
    text-align: center;
}

nav {
    background-color: #333;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    top: 0;
    padding: 0;
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: left;
    padding: 0.7em 1em;
    text-decoration: none;
    font-size: 1.2em;
    display: none;
}

nav input:checked ~ a { display: block; }

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav > input{
    display: none;
}

nav > label{
    display: inline-block;
    color: white;
    align-self: left;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
}

code {
    background-color: #333;
    color: white;
    padding: 0 0.2em 0 0.2em;
}

.posts-view {
}

.post-preview {
    background-color: #fff;
    margin: 1em;
    padding: 0.5em;
    max-height: 10em;
    overflow: hidden;
    border: groove 0.2em black;
}

.post-details {
    background-color: #fff;
    margin: 1em;
    padding: 0.5em;
}

.post-title {
    font-size: 1.3em;
}

@media (min-width: 900px){
    nav{
        flex-direction: row;
        justify-content: center;
        position: sticky;
    }
    nav > a{
        display: block;
        text-align: center;
    }
    nav > label{
        display: none;
    }

    main {
        width: 40%;
    }

}