{% extends "base.html" %}
{% load markdown_extras %}
{% load static %}

{% block title %}
About
{% endblock title %}

{% block content %}

<div class='post-details'>
    <p>{{ content | markdown | safe }}</p>
</div>

{% endblock content %}