{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    </head>

    <body>
        <nav>
            <label for="hamburger">&#9776;</label>
            <input type="checkbox" id="hamburger"/>

            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/login">Login</a>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>

    </body>
</html>