{% extends "base.html" %}
{% load markdown_extras %}
{% load static %}

{% block title %}
Homepage
{% endblock title %}

{% block content %}

<div class='posts-view'>
    {% for post in post_list %}
        <div class='post-preview' onclick="location.href='{% url 'post_detail' post.slug %}'">
            <p class='post-title'>{{ post.title }}</p>
            <p>by {{ post.author }}</p>
            <p>{{ post.updated_on }} | {{ post.created_on }}</p>
            <p>{{ post.content | markdown | safe }}</p>
        </div>
    {% endfor %}
</div>

{% endblock content %}