{% extends "base.html" %}
{% load markdown_extras %}
{% load static %}

{% block title %}
{{post.title}}
{% endblock title %}

{% block content %}

<h1>Here are the post details</h1>

        <div class='post-details'>
            <p class='post-title'>{{ post.title }}</p>
            <p>by {{ post.author }}</p>
            <p>{{ post.updated_on }} | {{ post.created_on }}</p>
            <p>{{ post.content | markdown | safe }}</p>
        </div>

{% endblock content %}